package views

import "github.com/nollidnosnhoj/kopalol/assets/layouts"

templ NotFoundPage() {
	@layouts.MainPageLayout("Not Found") {
		@layouts.HeroLayout() {
			<h1 class="text-5xl font-bold">Looking for something?</h1>
		}
	}
}
