package layouts

templ MainPageLayout(title string) {
	<html>
		<title>{ title }</title>
		<script src="/dist/js/vendor/htmx.min.js"></script>
		<script defer src="dist/js/vendor/alpine.min.js"></script>
		<link rel="stylesheet" href="/dist/css/tailwind.css"/>
		<body>
			{ children... }
		</body>
	</html>
}
