package views 

import "github.com/nollidnosnhoj/simplimg/internal/components"
import "github.com/nollidnosnhoj/simplimg/internal/components/layouts"

templ IndexPage() {
	@layouts.MainPageLayout("Home") {
		<h1>Upload image</h1>
		@components.Uploader()
	}
}
