package views 

import "github.com/nollidnosnhoj/vgpx/internal/components/layouts"
import "github.com/nollidnosnhoj/vgpx/internal/components"

templ IndexPage() {
	@layouts.MainPageLayout("Home") {
		@layouts.HeroLayout() {
			<h1 class="text-5xl font-bold">Easy Image Hosting!</h1>
			<p class="py-6">
				Max 5MB. gif, png, jpg.
			</p>
			@components.Uploader()
		}
	}
}
